# Backend
rogerlib/venv/
rogerlib/*/__pycache__/
rogerlib/*.pyc
rogerlib/dist/
dev.sh

# Frontend
bake/
frontend/node_modules/
frontend/public/
frontend/dist/
frontend/dist-ssr
*.local

# Docker
docker-compose.local.yml
docker-compose.dev.yml
nginx.local.conf
.env.local
.env.dev

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# General
.env
.DS_Store

# project-specific
node_modules/
bin/rogerlibhydrate
rogerlib/static/icons/
rogerlib/static/model/
rogerlib/static/assets/
rogerlib/static/images/
rogerlib/static/fonts/
rogerlib/static/markdown/
rogerlib/static/gif/
rogerlib/static/e3795ed4/
rogerlib/static/landing/512p/
rogerlib/static/graphics/
rogerlib/templates/
sql/csv/
sql/
*.blend
*.blend1
aws-rogerlib-core.yml
aws-rogerlib-service-definition.json
aws-rogerlib-task-definition.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# secrets
do-rsa
do-rsa.pub
*.pem
*.key

# Distribution / packaging
.Python
build/
develop-eggs/
downloads/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
# .python-version

# pipenv
#Pipfile.lock

# UV
#uv.lock

# poetry
#poetry.lock

# pdm
#pdm.lock
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.env.*
!.env.example
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#.idea/

# PyPI configuration file
.pypirc

# Local development scripts
start-dev.sh
test-